.depend
.deps
.tmp_versions
aclocal.m4
autom4te.cache
compile
config.cache
config.guess
config.h
config.h.in
config.log
config.status
config.sub
configure
depcomp
INSTALL
install-sh
Makefile
missing
mkinstalldirs
Module.markers
Module.symvers
Module.symvers.old
modules.order
Modules.symvers
Rules
stamp-h1
tags
TAGS
