[submodule "extra-libs/cunit"]
	path = extra-libs/cunit
	url = ssh://gitosis@git.clusterstor.com/mero-cunit.git
	ignore = untracked
[submodule "extra-libs/galois"]
	path = extra-libs/galois
	url = ssh://gitosis@git.clusterstor.com/mero-galois.git
	ignore = untracked
[submodule "extra-libs/yaml"]
	path = extra-libs/yaml
	url = ssh://gitosis@git.clusterstor.com/mero-yaml.git
	ignore = untracked
