[Unit]
Description=Mero server helper for ha service
Requires=mero-kernel.service
Wants=mero-trace@ha.service
After=mero-kernel.service mero-server-confd.service
Before=mero-trace@ha.service mero-server@.service mero-client.service
PartOf=mero.service

[Service]
Type=notify
TimeoutStartSec=30
TimeoutStopSec=20
Restart=on-abort
StartLimitInterval=5
StartLimitBurst=1
ExecStart=/usr/libexec/mero/mero-server ha
